<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HMS_test1.Properties.Settings.Hospital_SystemConnectionString"
            connectionString="Data Source=ABDALLAHS\SQLEXPRESS;Initial Catalog=Hospital_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HMS_test1.Properties.Settings.Hospital_SystemConnectionString1"
            connectionString="Data Source=DESKTOP-8VJ4FA9\SQLEXPRESS;Initial Catalog=Hospital_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
